<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Sudoku Fight</h1>
        <h3>Hello, Challenger!! This is a sudoku master's dojo. Our master solves a sudoku problem with linear programming. Try to win for honor!</h3>
        <h3>Select Sudoku Level</h3>
        <button><a href="/sample">EASY</a></button>
        <button><a href="/sample">MEDIUM</a></button>
        <button><a href="/sample">HARD</a></button>
        <h3>You want to create your sudoku problem?</h3>
        <button><a href="/sample">Create Your Sudoku Problem</a></button>
    </body>
</html>